{% extends 'base.html.twig' %}

{% block upbar %}
    <p>Q</p>
    <p>U</p>
    <p>E</p>
    <p>S</p>
    <p>T</p>
    <p>I</p>
    <p>O</p>
    <p>N</p>
    <p>N</p>
    <p>A</p>
    <p>I</p>
    <p>R</p>
    <p>E</p>
{% endblock %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    {% if test %}
        <form action="{{ path('test.steps.validation', { 'level': 'C1','langue': langue }) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('C1' ~ test.id) }}">
            {% set count = 0 %}
            {% for question in questions %}
                {% if question.level == level %}
                    {% if question.test == test %}
                        {% set count = count + 1 %}
                        <input type="hidden" value="{{ question.wording }}" name="question{{ count }}">
                        <div class="input-field col s12">
                            <select name="answer{{ count }}">
                                <option value="" disabled selected>Choisissez une réponse</option>
                                {% for answer in answers %}
                                    {% if answer.question == question %}
                                        <option value="{{ answer.isconnected }}">{{ answer.answer }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label>{{ question.wording }}</label>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <input type="hidden" name="iterations" value="{{ count }}">
            <input type="hidden" name="id" value="{{ test.id }}">
            <input type="hidden" name="langue" value="{{ langue }}">
            <input type="submit" placeholder="Valider">
        </form>
    {% else %}
        <h1>Le questionnaire n'est pas disponible pour le moment</h1>
    {% endif %}
{% endblock %}