{{ form_start(form) }}
{{ form_widget(form.testName, { 'attr': {'placeholder': 'Nom du questionnaire'}}) }}
<label>
    {{ form_widget(form.isOn, { 'attr': {'id': 'checked'}, 'placeholder': 'Formulaire actif / inactif'}) }}
    <span class="test-label">Formulaire actif / inactif</span>
</label>
{{ form_widget(form.language, { 'attr': {'placeholder': 'Langue du questionnaire'}}) }}
<p class="range-field">
    <div class="timer-test-label">Temps par questions</div>
    <span id="timer">25 secondes</span>
    {{ form_widget(form.timer)}}
</p>
{{ form_widget(form.save, { 'attr': {'class': 'btn waves-effect blue'}, 'label': 'Valider'}) }}

{{ form_end(form) }}
