<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ asset('img/adb.ico') }}">
    <title>ADB</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/responsive.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/loading-bar.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
<div id="loadercontent">
    <div class="ldBar label-center" data-type="fill" data-value="100" data-img="{{ asset('img/adb.svg') }}"></div>
</div>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    <!-- Modal Disconnect -->

    <div id="modalDisconnect" class="modal">
        <div class="modal-content">
            <h5>Voulez-vous vraiment vous déconnecter ?</h5><br/>
            <a href="{{ path('logout') }}"><button class="btn">Oui</button></a>&nbsp;
            <a href="#"><button class="btn modal-close">Non</button></a>
        </div>
    </div>

    <div class="languette">
        <span><i class="fa fa-user fa-2x"></i></span>
        <span class="username">Se déconnecter <br/>
        <i style="font-size: 10px">{{ app.user.username }}</i>
        </span>
    </div>
{% endif %}

<div class="accueil">
    <div class="upbar">
        <div class="title">
            {% block upbar %}{% endblock %}
        </div>
    </div>
    <a href="/"><img class="logoabsolute" src="{{ asset('img/logoPROMEO.svg') }}"/></a>
    <div class="parent2">
        <a href="{{ path('test.steps') }}" class="linkmenu"><div class="test1"><i class="fa fa-edit fa-2x"></i></div></a>
        <a href="{{ path('homepage') }}" class="linkmenu"><div class="test2"><i class="fa fa-home fa-2x"></i></div></a>
        <div class="mask2"><i class="fa fa-bars fa-3x"></i></div>
    </div>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
    <div class="cookie-banner js-cookie-banner">
        En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies ou autres traceurs pour vous proposer des publicités ciblées adaptés à vos centres d’intérêts et réaliser des statistiques de visites.
        &nbsp;<button class="js-cookie-dismiss btn waves-effect waves-light">J'accepte</button>
        &nbsp;<button class="js-cookie-non btn waves-effect waves-light">Je refuse</button>
    </div>
<script type="text/javascript" src="{{ asset('js/loading-bar.js') }}"></script>
<script type="text/javascript" src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

</body>
</html>
